.main {
     &__btn-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 376px;
          padding: 100px 0;
     }
     &__btn {
          border-radius: 4px;
          width: 160px;
          height: 59px;
          cursor: pointer;
          font-size: 14px;  
     }
}