@mixin flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

.modal {
     width: 516px;
     height: 250px;
     border-radius: 10px;
     background-color: azure;
     @include flex-center();
     justify-content: space-between;
     flex-direction: column;

     &-overlay {
          background-color: rgba(4, 4, 4, 0.25);
          position: fixed;
          width: 100vw;
          height: 100vh;
          top: 0;
          opacity: 0;
          transition: 0.5s;
          z-index: -1;
          left: 0;
          @include flex-center();
     }

     &__header {
          @include flex-center();
          justify-content: space-around;
          width: 100%;
          border-radius: 10px;
     }

     &__header-text {
          font-size: 20px;
     }

     &__header-btn {
          cursor: pointer;
     }

     &__text {
          padding: 0 10%;
          text-align: center;
     }

     &__btn-container {
          display: flex;
          justify-content: space-around;
          width: 50%;
          padding: 20px 0;
     }

     &__btn {
          border-radius: 4px;
          width: 101px;
          height: 41px;
          cursor: pointer;
          border: 0;
     }

     &--active {
          opacity: 1;
          z-index: 1000;
     }
}


   