*, *::after, *::before {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #ff9e81;
}
.main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__cell {
    height: 50px;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}
.cell--positive {
    background: green;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: rgba(1, 1, 1, 0.2);
    z-index: 100;
}
.modal {
    width: 350px;
    min-height: 200px;
    background: lightgoldenrodyellow;
    border: 1px solid grey;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 120;
}
.modal__input {
    height: 30px;
    width: 280px;
}
.modal__text {
    font-size: 22px;
    font-weight: bold;
}
.modal__button {
    width: 60px;
    height: 25px;
}
.selected {
    background: green !important;
}
.modal__option-button {
    width: 80px;
    height: 80px;
    border: none;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flex-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}