/* Montserrat-regular */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* Montserrat-bold */
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
/* Navigation menu */
.header {
    margin: 0 auto;
    min-width: 1280px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.navbar-list {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}
.navbar-list-item {
    margin-left: 70px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FF0000;
}
.navbar-first-item {
    margin-left: 0;
}
a.navbar-item {
    text-decoration: none;
    color: #FF0000;
}
/* Image phone */
.content-image {
    background-image: url("../pictures/picture_homework2.png");
    background-size: cover ;
    display: flex;
    justify-content: center;
    min-height: 900px;
}
/* Content */
.content-section {
    min-width: 1280px;
    min-height: 600px;
    text-align: center;
    margin-left: 90px;
    margin-top: 45px;
    margin-right: 90px;
}
.section-title {
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-size: 22px;
    color: #373737;
    margin-bottom: 45px;
}
.section-text {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4000000953674316px;
    color: #373737;
    margin-bottom: 30px;
}
a.cta-button {
    min-width: 191px;
    height: 51px;
    padding: 19px 43px;
    margin-top: 50px;
    background-color: #FF0000;
    border-radius: 4px;
    font-family: Montserrat;
    font-size: 12px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.7999999523162842px;
    color: white;
    border: 0;
    display: inline-block;
}
/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 1280px;
    min-height: 108px;
}
.footer-container {
    display: flex;
    justify-content: end;
    min-width: 1100px;
    min-height: 39px;
}
.footer-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}


