html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
/* Header */
.header {
    margin-top: 40px;
}
.container {
    margin: 0 auto;
    width: 1280px;
}
.logo {
    font-family: Roboto;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 40px;
    margin-top: 40px;
}
.logo-span {
    color: #4BCAFF;

}
 a {
    color: initial;
    text-decoration: none;
}
.navigation-header {
    background-color: #35444F;
    min-width: 1280px;
    min-height: 70px;
}
.navigation-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 990px;
    min-height: 70px;
}
.header-navigation-item {
    padding: 30px 40px;
    margin: 0;
    border-left: solid white 1px;
    border-right: solid white 1px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
}
.header-navigation-item a {
    color: #FFFFFF;
}
/* Main content */
.main {
    padding-top: 70px;

}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.navbar {
    border: #363636 solid 1px;
    min-width: 370px;
    height: 460px;
    display: flex;
    align-items: center;
}
.navbar-list {
    list-style-type: none;
    min-width: 370px;
    height: 450px;
    padding: 0;
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar-list-item {
    font-family: Roboto;
    font-weight: normal;
    font-size: 27px;
    padding: 30px;
}
.navbar-list-item a {
    color: #495863;
}
.main-content {
    display: flex;
    width: 860px;
    height: 832px;
    flex-direction: column;
}
.content-picture {
display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
    height: 550px;
    border: #363636 solid 1px;

}
.pseudo-content-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
    height: 550px;
}
.content-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-top: 10px;
    color: #2C2C2C;
}
/* Footer */
.footer {
    margin-top: 40px;
    background-color: aliceblue;
}
.navigation-footer {
    display: flex;
    justify-content: space-between;
    min-width: 1280px;
    min-height: 70px;
    background-color: #63696E7A;

}
.footer-list {
    display: flex;
    padding-left: 30px;
    align-items: center;
    min-width: 950px;
    min-height: 70px;
}
.footer-list-item {
    font-family: Roboto;
    font-weight: normal;
    font-size: 28px;
    padding: 10px 15px;
    margin: 0;
    color: #0C1927;
}
.footer-list-item a {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-copyright {
    display: flex;
    padding-right: 40px;
    align-content: center;
}
.footer-copyright-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #010101;
}
/* Hover elements */
.header-navigation-item:hover {
    background-color: #222F3A;
}
.navbar-list a:hover {
    color: black;
    padding-left: 25px;
}
.navbar-list-item:hover {
    background-color: rgba(219, 219, 219, 1);
}
.footer-list a:hover {
    color: #3181A6;
}
.footer-list-item:hover {
    text-decoration: underline;
}
/* Hover picture */
.content-picture-scale {
    transition: 1s; /* Время эффекта */
}
.content-picture-scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

