.insta-shots {
  width: 100%;
  padding-top: 40px;

  &__container {
    @include block-center;
    & > div {
      margin-top: 15px;
      width: 100%;
      & > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        &:nth-last-of-type(-n + 3) {
          display: none;
        }
      }
    }
    & > .block-title {
      &:nth-last-of-type(1) {
        display: none;
      }
    }
  }
  &__link {
    @include roboto-bold;
    text-decoration: none;
    color: $title-color;
    font-size: $link-size;
    text-transform: uppercase;
    display: none;
  }
}