* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.newsline {
    width: 600px;
    height: 100%;
}
.newsline__post {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
}
.newsline__info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}
.newsline__name {
    font-weight: bold;
    font-size: 18px;
}
.newsline__email {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.7);
}
.newsline__title {
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}
.newsline__text {
    font-size: 14px;
    font-weight: lighter;
}
.newsline__add-button {
    width: 100%;
    padding: 10px 0;
}
.newsline__button-container {
    display: flex;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: rgba(1, 1, 1, 0.2);
}
.modal {
    width: 420px;
    min-height: 315px;
    background: lightgoldenrodyellow;
    border: 1px solid grey;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal__input {
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
.modal__button {
    margin: 10px 0;
}


/**
=========   ANIMATION   ===============================================================================================
 */

.lds-ring {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}