html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #313131;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navigation {
    display: flex;
    justify-content: center;
    position: relative;
    right: 20px;
}
.header__nav-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.header__list-item {
    display: flex;
    margin: 20px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header__list-item-link {
    text-decoration: none;
    color: unset;
}
.header__list-item-link:hover {
    color: #14B9D5;
}
.header__search {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
    background-color: #000000;
}
.fblock__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 577px;
    background-image: url("../pictures/header-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
  }
.fblock__content {
    flex-wrap: wrap;
    width: 670px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
.fblock__title {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
}
.fblock__buttons {
    display: flex;
    gap: 20px;
}
.cta-button {
    padding: 16px 19px;
    background-color: #89CA62;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.secondary-button {
    padding: 16px 30px;
    background-color: #14B9D5;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;

}
.sblock__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    background: #F2F2F2;
}
.sblock__title-block {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 0;
    margin-bottom: 50px;
}
.sblock__content {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 1280px;
    flex-wrap: wrap;
    gap: 20px;
}
.sblock__house {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.sblock__house-name {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}
.sblock__house-one {
    height: 320px;
}
.sblock__house-two {
    height: 440px;
}
.sblock__house-three {
    height: 355px;
}
.sblock__house-four {
    height: 320px;
}
.sblock__house-five {
    height: 310px;
}
.sblock__house-six {
    height: 440px;
}
.thblock__wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 570px;
    background-image: url("../pictures/parallax-bg.jpeg");
    background-attachment: fixed;
}
.thblock__content {
    display: grid;
    grid-template-columns: 210px 240px 60px 240px 210px;
    grid-template-rows: 70px 70px 70px;
    grid-row-gap: 60px;
}
.thblock__content-title-grid {
    grid-column: 2 / span 3;
    justify-content: center;
}
.thblock__content-title {
    font-family: Open Sans;
    font-weight: bold;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    color: white;
}
.thblock__bluel-block {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thblock__blue-line {
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
}
.thblock__blue-line-grid {
    grid-row: 2;
    grid-column: 3;
    justify-content: center;
}
.thblock__logo {
    display: flex;
    justify-content: center;
    align-self: center;
}
.thblock__logo-grid-one {
    grid-row: 3;
    grid-column: 1;

}
.thblock__logo-grid-two {
    grid-row: 3;
    grid-column: 2 / span 2;

}
.thblock__logo-grid-three {
    grid-row: 3;
    grid-column: 3 / span 2;
}
.thblock__logo-grid-four {
    grid-row: 3;
    grid-column: 5;
}
.frblock__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    justify-items: center;
    justify-content: center;
}
.frblock__title-block {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    align-self: center;
    text-transform: uppercase;
    color: #18B4CF;
    grid-column: 4;
    grid-row: 1;
    margin-bottom: 50px;
    margin-top: 50px;
}
.frblock__picture-one-block {
    width: 271px;
    grid-row: 2;
    grid-column: 1;
}
.frblock__picture-two-block {
    width: 271px;
    grid-row: 2;
    grid-column: 2;
}
.frblock__picture-three-block {
    width: 271px;
    grid-row: 2;
    grid-column: 3;
}
.frblock__picture-four-block {
    width: 271px;
    grid-row: 2;
    grid-column: 4;
}
.frblock__picture-five-block {
    width: 271px;
    grid-row: 2;
    grid-column: 5;
}
.frblock__picture-six-block {
    width: 271px;
    grid-row: 2;
    grid-column: 6;
}
.frblock__picture-seven-block {
    width: 271px;
    grid-row: 2;
    grid-column: 7;
}
.fvblock {
    width: 100%;
    margin-bottom: 100px;
}
.fvblock__wrapper {
    width: 1280px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}
.fvblock__title-block {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    grid-row: 1;
    grid-column: 2 / span 2;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.fvblock__content-article-one {
    grid-row: 2;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 483px 1fr;
}
.fvblock__article-one-text {
    display: grid;
    align-content: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.fvblock__article-title {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    margin-right: 20px;
    margin-left: 20px;
}
.fvblock__article-text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    margin-right: 20px;
    margin-left: 20px;

}
.fvblock__content-article-two {
    grid-row: 2;
    grid-column: 4;
    display: grid;
    grid-template-rows: 210px 1fr;
}
.fvblock__article-two-text {
    display: grid;
    align-content: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.fvblock__article-two-title {
    display: grid;
    text-align: center;
}
.fvblock__content-article-three {
    grid-row: 3;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: 259px 1fr;
}
.fvblock__article-three-text {
    display: grid;
    align-content: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.fvblock__content-article_four {
    grid-row: 3;
    grid-column: 3 / span 2;
    display: grid;
    grid-template-rows: 259px 1fr;
}
.fvblock__article-four-text {
    display: grid;
    align-content: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.fvblock__content-article-five {
    grid-row: 4;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: 259px 1fr;
}
.fvblock__content-article-six {
    grid-row: 4;
    grid-column: 3 / span 2;
    display: grid;
    grid-template-rows: 259px 1fr;
}
.fvblock__content-article-seven {
    grid-row: 5;
    grid-column: 1;
    display: grid;
    grid-template-rows: 210px 1fr;
}
.fvblock__content-article-eight {
    grid-row: 5;
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: 483px 1fr;
}
.footer {
    width: 100%;
    background-color: #000000;
}
.footer__wrapper {
    width: 1280px;
    display: grid;
    margin: auto;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
}
.footer__text {
    grid-column: 1 / span 2;
    font-family: Open Sans;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    display: grid;
    align-items: center;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer__logo {
    width: 105px;
    height: 24px;
    display: grid;
    grid-column: 4;
    justify-self: flex-end;
}










