@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
}
.wrapper {
    width: 100%;
    min-height: 770px;
    background-image: url(../pictures/bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.header__logo {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 70px;
    transition: color 0.4s ease-in-out;
}
.header__logo:hover {
    color: #3CB878;
}
.header__navbar {
    display: flex;
    align-items: center;
    padding-right: 70px;
    position: relative;
}
.header__icon {
    display: flex;
    align-self: center;
    transition: color 0.4s ease-in-out;
}
.header__icon:hover svg path {
    fill: #3CB878;
    color: #3CB878;
}
.header__icon-right {
    padding-right: 25px;
}
.header__navbar::after {
    content: "";
    height: 20px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    left: 150px;
    opacity: 0.5;
}
.header__welcome {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 60px;
}
.header__login {
    transition: color 0.4s ease-in-out;
    text-decoration: none;
    color: inherit;
}
.header__login:hover {
    color: #3CB878;
}
.header__sign-up {
    transition: color 0.4s ease-in-out;
    text-decoration: none;
    color: inherit;
}
.header__sign-up:hover {
    color: #3CB878;
}
.main {
    width: 445px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__form {
    width: 325px;
    height: 535px;
    display: grid;
    position: relative;
    grid-template-columns: 162px 162px;
    grid-template-rows: 35px 70px 45px 60px 60px 60px 60px 60px 40px;
}
.main__form:after {
    position: absolute;
    content: "";
    top: 0;
    left: -60px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.main__form-signup {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    height: 20px;
    grid-column: 1;
    grid-row: 1;
}
.main__form-login {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    padding-top: 2px;
    height: 14px;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    text-decoration: none;
}
.main__form-login:hover {
    text-decoration: underline;
}
.main__button-facebook {
    width: 158px;
    height: 45px;
    background: #305DB8;
    grid-column: 1;
    grid-row: 2;
    border: none;
    padding-left: 15px;
    padding-right: 23px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor:pointer;
    transition: background-color 0.4s ease-in-out;
}
.main__button-facebook::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    left: 47px;
}
.main__button-facebook:hover {
    background-color: #022263;
}
.main__button-text {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    color: #FFFFFF;

}
.main__button-google {
    width: 158px;
    height: 45px;
    background: #DF4A32;
    grid-column: 2;
    grid-row: 2;
    border: none;
    padding-left: 8px;
    padding-right: 28px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 5px;
    cursor:pointer;
    transition: background-color 0.4s ease-in-out;
}
.main__button-google::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    left: 47px;
}
.main__button-google:hover {
    background-color: #AB1F09;
}
.main__form-or {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #848484;
    grid-column: 1 / span 2;
    grid-row: 3;
    justify-content: center;
    position: relative;
}
.main__form-or::before {
    position: absolute;
    content: "";
    width: 152px;
    height: 1px;
    background: #F2F2F2;;
    left: 0;

}
.main__form-or::after {
    position: absolute;
    content: "";
    width: 152px;
    height: 1px;
    background: #F2F2F2;;
    right: 0;

}
.main__form-input {
    width: 306px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #BEBEBE;
    padding-left: 15px;
}
.main__form-input:focus {
    border: none;
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;
}
:focus::placeholder {
    color: #434343;
}
.main__input-name {
    grid-column: 1 / span 2;
    grid-row: 4;
}
.main__input-surname {
    grid-column: 1 / span 2;
    grid-row: 5;
}
.main__input-email {
    grid-column: 1 / span 2;
    grid-row: 6;
}
.main__input-password {
    grid-column: 1 / span 2;
    grid-row: 7;
}
.main__input-confirm-password {
    grid-column: 1 / span 2;
    grid-row: 8;
}
.main__input-checkbox {
    grid-column: 1 / span 2;
    grid-row: 9;
}
.main__checkbox-text {
    margin-left: 5px;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 14px;
    color: #434343;
}
.main__checkbox-link {
    color: #3CB878;
    text-decoration: none;
}
.main__checkbox-link:hover {
    text-decoration: underline;
}
input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label, input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    width: 280px;
}
input[type="checkbox"]:checked + label:before, input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color: #ffffff;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 1px;
    top: 2px;
    width: 15px;
    height: 8px;
    border-radius: 1px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-60deg) skew(160deg);
}
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}
input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.main__create-account {
    width: 325px;
    height: 45px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}
.main__create-account:hover {
    background-color: #01813F;
}
.main__input-submit {
    grid-column: 1 / span 2;
    grid-row: 10;
}




