.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    perspective: 400px;
}
.text-block{
    width: 1400px;
    position:absolute;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: star_wars ease-in 30s infinite;
}
.text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 70px;
    color: yellow;
    letter-spacing: 2px;
    text-align: justify;
}
.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
@keyframes star_wars {
    0% {
        top: 1100px;
        transform: rotateX(25deg)  translateZ(0);
    }
    100% {
        top: -4000px;
        transform: rotateX(35deg) translateZ(-2000px);
    }
}