@use '../../styles/utilities/variables.scss' as *;
@use '../../styles/utilities/mixins.scss' as *;

.BagList {
    width: $contentWidth;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: $standartGap;

    &:empty:after {
        @include customFont(24px, 500, #000);
        @include customFlexAlign(flex, center, center);
        margin: auto;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        content: 'No items have been added';
        position: absolute;
   }
}