.header {
     display: flex;
     justify-content: center;
     background-color: #27282c;
     align-items: center;
     height: 70px;

&__fixed {
     position: fixed;
     display: flex;
     justify-content: center;
     background-color: #27282c;
     width: 100%;
     align-items: center;
     height: 70px;
}

     &__box {
          display: flex;
          align-items: center;
          width: 90%;
          justify-content: flex-end;
          position: fixed;
     }

     &__bagBox {
          display: flex;
          align-items: center;
          margin-right: 20px;
          cursor: pointer;
     }

     &__bag {
          width: 30px;
          height: 30px;
          margin-right: 7px;
          & > img {
               width: inherit;
          }
     }

     &__span {
          color: #fff;
     }

     &__favouriteBox {
          display: flex;
          align-items: center;
          cursor: pointer;
     }

     &__favourite {
          width: 30px;
          margin-right: 7px;
          height: 30px;
          color: #fff;
          & > img {
               width: inherit;
          }
     }
}