* {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.wrapper {
    width: 100%;
    background: url(../pictures/background.jpg);
    background-size: cover;
}
.header {
    width: 1028px;
    height: 60px;
    margin: auto;
    padding-top: 46px;
    padding-bottom: 17px;
    padding-left: 7px;
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 305px 305px 305px;
    grid-column-gap: 55px;
    align-items: center;
}
.header__logo {
    grid-column: 1;
    height: 50px;
    display: flex;
    align-content: center;
    text-decoration: none;
    color: #fff;
    position: relative;
}
/*  hover color f9ab15  */
.header__logo-milan {
    font-family: Roboto;
    font-weight: bold;
    font-size: 29px;
    margin: 0;
}
.header__logo-holiday {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
.header__logo:hover {
    width: 53px;
    color: #F26522;
    height: 50px;

}
.header__picture-white {
    position:relative;
    display: block;
}
.header__picture-orange {
    position: absolute;
    left: 0;
    top: 0;
}
.header__logo img.header__picture-orange {opacity:0;filter:alpha(opacity=0);}
.header__logo:hover img.header__picture-orange {opacity:1;filter:alpha(opacity=100);}
.header__logo:hover img.header__picture-white, .header__logo img.header__picture-white:hover {opacity:0;filter:alpha(opacity=0);}
.header__contacts {
    grid-column: 3;
    display: grid;
    align-self: stretch;
    justify-items: flex-end;
}
.header__contacts-tel {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    align-self: flex-end;
    text-decoration: none;
}
.header__contacts-tel:hover {
    color: #F26522;
}
.header__contacts-email {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    text-decoration: none;
}
.header__contacts-email:hover {
    color: #F26522;
}
.main {
    display: grid;
    width: 1028px;
    grid-template-columns: 305px 305px 305px;
    grid-template-rows: 280px 280px;
    grid-column-gap: 55px;
    grid-row-gap: 37px;
    padding-bottom: 50px;
    margin: auto;
}
.main__service-one {
    display: grid;
    justify-content: center;
    grid-row: 1;
    grid-column: 1;
    position: relative;
    text-decoration: none;
}
.main__service-title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 30px;
}
.main__service-two {
    display: grid;
    justify-content: center;
    grid-row: 1;
    grid-column: 2;
    position: relative;
    text-decoration: none;
}
.main__service-three {
    display: grid;
    justify-content: center;
    grid-row: 1;
    grid-column: 3;
    position: relative;
    text-decoration: none;
}
.main__service-four {
    display: grid;
    justify-content: center;
    grid-row: 2;
    grid-column: 1;
    position: relative;
    text-decoration: none;
}
.main__service-five {
    display: grid;
    justify-content: center;
    grid-row: 2;
    grid-column: 2;
    position: relative;
    text-decoration: none;
}
.main__service-six {
    display: grid;
    justify-content: center;
    grid-row: 2;
    grid-column: 3;
    position: relative;
    text-decoration: none;
}
.main__services-panel {
    position: absolute;
    width: 302px;
    height: 55px;
    background-color: #F26522;
    bottom: 40px;
    left: 2.5px;
    opacity: 0;
    transition: all .2s ease-in;
    transform: scale(0);
}
.main__panel-text-one {
    font-family: Roboto;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF;
    position: absolute;
    left: 21px;
    top: 9px;
}
.main__panel-text-two {
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    left: 21px;
    bottom: 7px;
}
.main__panel-link {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    bottom: 9px;
    right: 40px;
    text-decoration: none;
}
.main__panel-link:after {
    content: url("../pictures/right-icon.svg");
    position: absolute;
    left: 90px;
    top: 1px;
    width: 5px;
    height: 8px;
}
.main__service-one:hover .main__services-panel {
    opacity: 1;
    z-index: 2;
    bottom: 57.5px;
    transform: scale(1);
}
.main__service-one:hover .main__service-title {
    color: #F26522;
}
.main__service-two:hover .main__services-panel {
    opacity: 1;
    z-index: 2;
    bottom: 57.5px;
    transform: scale(1);
}
.main__service-two:hover .main__service-title {
    color: #F26522;
}
.main__service-three:hover .main__services-panel {
    opacity: 1;
    z-index: 2;
    bottom: 57.5px;
    transform: scale(1);
}
.main__service-three:hover .main__service-title {
    color: #F26522;
}
.main__service-four:hover .main__services-panel {
    opacity: 1;
    z-index: 2;
    bottom: 57.5px;
    transform: scale(1);
}
.main__service-four:hover .main__service-title {
    color: #F26522;
}
.main__service-five:hover .main__services-panel {
    opacity: 1;
    z-index: 2;
    bottom: 57.5px;
    transform: scale(1);
}
.main__service-five:hover .main__service-title {
    color: #F26522;
}
.main__service-six:hover .main__services-panel {
    opacity: 1;
    z-index: 2;
    bottom: 57.5px;
    transform: scale(1);
}
.main__service-six:hover .main__service-title {
    color: #F26522;
}
.main__photo {
    height: auto;
    width: 100%;
    border: 1px solid;
    border-image: linear-gradient(to bottom, #000, #fff) 1;
}
.footer {
    width: 1028px;
    height: 20px;
    display: flex;
    margin: auto;
    padding-bottom: 110px;
    justify-content: center;
}
.footer__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

